<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Esra.ConvertToBpms.Properties.Settings.esraConnectionString" connectionString="Data Source=ISD-PRESENT\MSSQLSERVER2012;Initial Catalog=esra;User ID=sa;Password=admin123." providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
