<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="10000" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="11111111" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
