<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Esra.COMMON.Properties.Settings.CloudNasirConnectionString"
            connectionString="Data Source=178.252.129.91;Initial Catalog=CloudNasir;Persist Security Info=True;User ID=sa;Password=asd_dvd94;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Esra.COMMON.Properties.Settings.esra_sadatiConnectionString1"
            connectionString="Data Source=185.129.169.89;Initial Catalog=esra_sadati;Integrated Security=False;User ID=esra_sadati;Password=8Xtau2?8"
            providerName="System.Data.SqlClient" />
        <add name="Esra.COMMON.Properties.Settings.CloudNasirConnectionString1"
            connectionString="Data Source=ISD-PRESENT\MSSQLSERVER2012;Initial Catalog=CloudNasir;User ID=sa;Password=admin123."
            providerName="System.Data.SqlClient" />
        <add name="Esra.COMMON.Properties.Settings.CloudNasirConnectionString2"
            connectionString="Data Source=ISD-PRESENT\MSSQLSERVER2012;Initial Catalog=CloudNasir;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>