<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Esra.WebUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <staticContent>
      <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge" />
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <appSettings>
    <add key="SMTP_Title" value="Tehran Game Convention"/>
    <add key="SMTP_Server" value="webmail.gamejam.ir"/>
    <add key="SMTP_user" value="info@gamejam.ir"/>
    <add key="SMTP_password" value="Admin123."/>
    <add key="SMTP_default_mail" value="info@gamejam.ir"/>
    <add key="SMTP_port" value="25"/>
    
    <!--<add key="CloudNasirConnectionString" value="Data Source=192.168.30.7\MSSQLSERVER2017;Initial Catalog=ipdbForEsraDevelopment;User id=sa;Password=Admin123.;Persist Security Info=True;Connect Timeout=30" />-->
    <add key="CloudNasirConnectionString" value="Data Source=185.129.169.81;Initial Catalog=ipdb;User ID=ipdbuser;Password=d87%$)@kdKDJ837_.s@!#" />
    <add key="esra_sadatiConnectionString1" value="Data Source=192.168.30.7\MSSQLSERVER2017;Initial Catalog=EsraDB;User id=sa;Password=Admin123.;"/>
    
  
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Esra.WebUI.Properties.Settings>
      <setting name="Esra_WebUI_com_kavenegar_api_v1" serializeAs="String">
        <value>http://api.kavenegar.com/soap/v1.asmx</value>
      </setting>
    </Esra.WebUI.Properties.Settings>
  </applicationSettings>
</configuration>
